// Font Variables
$headingFont:;
$headingFontSize:;
$headingFontWeight:;
$headingLineHeight:;
$headingLetterSpacing:;
$headingFontFamily:;
$headingFontStyle:;
$headingFontDecoration:;
$headingFontColor:;

$bodyFont:;
$bodyFontSize:;
$bodyFontWeight:;
$bodyLineHeight:;
$bodyLetterSpacing:;
$bodyFontFamily:;
$bodyFontStyle:;
$bodyFontDecoration:;
$bodyFontColor:;
